.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1.5rem 0;
}

.title{
    font-size: 1.5rem;
    font-weight: 600;
    color: plum;
}

.list{
    display: flex;
    flex-direction: row;
    gap: 2rem;
}